.typefully {
  color: white;
  text-decoration: none;
  padding-left: 22px;
  padding-right: 22px;
  min-height: 40px;
  border-radius: 9999px;
  font-weight: 700;
  font-size: 15px;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  line-height: 20px;
  overflow-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d9bf0;
  margin: 20px auto 0;
  order: 99;
  cursor: pointer;
}
.typefully:hover {
  background-color: #1a8cd8;
}
.typefully svg {
  margin: 0 3px 0 -8px;
}
