.typefully-modal-button,
.typefully-reply-button,
.typefully-writermode-button {
  color: white;
  background-color: var(--accent-color);
  text-decoration: none;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 9999px;
  font-weight: 700;
  font-size: 15px;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  line-height: 20px;
  overflow-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  order: 99;
  cursor: pointer;
}

.typefully-modal-button:hover,
.typefully-reply-button:hover,
.typefully-writermode-button:hover {
  filter: brightness(0.5);
}

.typefully-modal-button svg,
.typefully-reply-button svg,
.typefully-writermode-button svg {
  margin: 0 3px 0 -8px;
}

.typefully-modal-button,
.typefully-writermode-button {
  min-height: 40px;
}

.typefully-reply-button {
  min-height: 36px;
}

#mt-typefullyGrowButton {
  width: 100%;
  display: flex;
}
#mt-typefullyGrowButton > div > div[dir] {
  font-weight: 400 !important;
}
#mt-typefullyGrowButton:hover > div {
  background-color: rgba(107, 114, 128, 0.2);
}
@media only screen and (max-width: 1264px) {
  #mt-typefullyGrowButton > div > div[dir] {
    display: none !important;
  }
}
