<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Thomas Wang</string>
	<key>Builder Version</key>
	<string>14607.3.9</string>
	<key>CFBundleDisplayName</key>
	<string>minimal-twitter</string>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.minimal-twitter</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.13</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Content</key>
	<dict>
		<key>Stylesheets</key>
		<array>
			<string>minimal-twitter.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>A minimal Twitter theme that drastically simplifies and declutters the new Twitter UI.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>twitter.com</string>
				<string>mobile.twitter.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/thomaswangio/minimal-twitter</string>
</dict>
</plist>
